.container
  .jumbotron
    h1 Some website header
    p Welcome to another website. Blah blah

  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-course'")
    .col-md-6
      div(ng-include="'/partials/main/new-courses'")