doctype
html
  head
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.0/css/toastr.css")
    link(rel="stylesheet", href="/css/site.css")
  body(ng-app="app")
    block main-content
    include scripts